<!DOCTYPE HTML>

<html>
	<head>
    <title>Welcome to Mohamad Diwany site</title>
	</head>
	<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo">Image Static <span>by Mohamad Diwany</span></a></div>
			</header>

		<!-- Nav -->
				<li><a href="index1.html">Home</a></li>
				</ul>
			</nav>
						<header>
							<p>Everything is ok </a></p>
						
						</header>



	
	</body>
</html>