<!DOCTYPE HTML>

<html>
	<head>
    <title>Welcome to Mohamad Diwany site</title>
	</head>
	<body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="container h-100">
      <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
              <!-- <div class="card border-0 p-3 shadow-sm text-center"> -->
                  <!-- Header -->
			<header id="header" class="alt">
				<div class="logo">Image Static <span>by Mohamad Diwany</span></a></div>
			</header>

		<!-- Nav -->
				<li><a href="index1.html">Home</a></li>
				</ul>
			</nav>
						<header>
							<p>Welcome to my site I Hope You enjoy it </a></p>
							<h2>Mohamad Diwany</h2>
						</header>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/mohamad-diwany-995663165/" class="icon fa-linkedin"><span class="label">linkedin</span></a></li>
						<li><a href="https://www.facebook.com/mohamad.diwany/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/mohamad.diwany/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
	
                  
              </div>
          </div>
      </div>
  </div>
</div>
  
		
	</body>
</html>