<!doctype html>
<html>
  <head>
  
    <title> Diwany Flask site </title>
    
  </head>
  <body>
    <div class="row justify-content-center">
      
      <h1> Please choose which photo you like to work on and which function </h1>
    </div>
  </body>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <div class="container h-100">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
            
                <p style="color:black;"><b><strong>IMG_1</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_2</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_3</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_4</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_5</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_6</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_7</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_8</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_9</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/mean" 
                class="btn btn-primary">mean</a><br />
                <br />
                <p style="color:black;"><b><strong>IMG_10</strong></b></p>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/min" 
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/max" 
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/mean" 
                class="btn btn-primary">mean</a><br />
              </div>
            </div>
        </div>
            </form>
      
</html>