{% extends 'base.html' %}

{% block content %}
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div class="card border-0 p-3 shadow-sm text-center">
                    <h3 class="text-muted">{{IMG_NAME}}:The {{text}} {{ value }}</h3>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
    <iframe width="1000" height="650"
    
      src="https://storage.googleapis.com/seetree-demo-open/{{IMG_NAME}}">
      </iframe></div>

{% endblock content %}