
  {% extends 'base.html' %}

{% block content %}
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div class="card border-0 p-3 shadow-sm text-center">
                    <div class="box__description-title">Whoops!</div>
        <div class="box__description-text">It seems like you enter false function check your function it should be:<br />
            <br />
            i. min<br />
            <br />
            ii. max<br />
            <br />
            iii. mean<br />
            <br />
            iv. median<br />
            <br />
            v. pXXX where XXX is a percentile between 0...100. For example p10 is the
            10th percentile of the image, p99 is the 99th percentile
        </div>
        <p class="aligncenter">
            <img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" alt="centered image" />
        </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}